p {
  margin-top: 0px;
  margin-bottom: 0px;
}

body {
  font-family: Roboto, Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding-top: 57px;
  background-color: rgb(255, 255, 255);
  color: rgb(33 37 41);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

main {
  display: block;
  min-height: calc(100vh - 57px);
}

a {
  color: none;
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  color: none;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}
